<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Presentaion's Creating Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!--<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>-->
    <script src="//cdn.ckeditor.com/4.18.0/full/ckeditor.js"></script>
</head>
<body>
<h1>Presentaion's Creating Form</h1>

<div th:insert="~{speaker/header/speaker_header :: speaker_header}"></div>

<form th:action="@{/speaker/create_presentation}" th:object="${newpresentation}" method="POST">
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Presentation's name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Presentaiton's name " style="width: 820px"
               th:field="${newpresentation.presentation_name}">
    </div>
    <div class="mb-3 mt-3">
        <label for="name" class="form-label">Presentation's content:</label> </br>
        <textarea id="content" name="content" placeholder="Content" th:field="${newpresentation.presentation_content}"
                  style="width: 820px; height: 700px"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/speaker/your_presentations}">Cancel</a>
</form>

<script>
    var editor = '';
    $(document).ready(function(){
        editor = CKEDITOR.replace("content");
    });
</script>
</body>
</html>