<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
</head>
<body>
<h1>Event Management - Speaker Your Event </h1>

<a th:href="@{/speaker_home}">Home </a> </br>
<h1 th:inline="text">Xin chào bạn [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Đăng xuất"/>
</form>
</br>

<form>
    <table border="1" >
        <tr>
            <th>Event's Name</th>
            <th>Admin</th>
            <th>Speaker</th>
        </tr>
        <tr th:each ="event : ${events}">
            <td th:utext="${event.event_name}">...</td>
            <td th:utext="${event.event_admin_id}">...</td>
            <td th:utext="${event.event_speaker_id}">...</td>
        </tr>
    </table>
</form>
</body>
</html>

