<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <span th:text="'Name: ' + ${event.event_name}"></span>
    </br>
    <span th:text="'Date: ' + ${event.event_date}"></span>
    </br>
    <span th:text="'Location: ' + ${event.event_location}"></span>
    </br>
    <span th:text="'Starting_time: ' + ${event.event_starting_time}"></span>
    </br>
    <span th:text="'Ending_time: ' + ${event.event_ending_time}"></span>
    </br>

    <a th:href="@{/speaker_home}">Back</a> </br>

</body>
</html>