<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/register}" th:object="${newregister}" method="POST">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="${newregister.register_name}" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" th:field="${newregister.register_age}" /> </td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" th:field="${newregister.register_email}" /> </td>
        </tr>
        <tr>
            <td>Account Name </td>
            <td><input type="text" th:field="${newregister.register_account_name}" /> </td>
        </tr>-
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="${newregister.register_account_password}" /> </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
                <a th:href="@{/}">Cancel</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>