<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" >
<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <form th:action="@{/create_speaker}" th:object="${newspeaker}" method="POST" >
    <div class="mb-3 mt-3">
      <label for="name" class="form-label">Speaker's name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" th:field="${newspeaker.speaker_name}">
    </div>
    <div class="mb-3 mt-3">
      <label for="age" class="form-label">Speaker's age:</label>
      <input type="number" class="form-control" id="age" placeholder="Age " th:field="${newspeaker.speaker_age}">
    </div>
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Speaker's email:</label>
      <input type="text" class="form-control" id="email" placeholder="Email" th:field="${newspeaker.speaker_email}">
    </div>
    <div class="mb-3 mt-3">
      <label for="career" class="form-label">Speaker's career :</label>
      <input type="text" class="form-control" id="career" placeholder="Career" th:field="${newspeaker.speaker_career}">
    </div>
    <div class="mb-3">
      <label for="account" class="form-label">Account name :</label>
      <input type="text" class="form-control" id="account" placeholder="Account" th:field="${newspeaker.speaker_account_name}" >
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password :</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password"  th:field="${newspeaker.speaker_account_password}" >
    </div>
   <!-- <div class="mb-3">
      <label for="cfpwd" class="form-label">Confirm Password :</label>
      <input type="password" class="form-control" id="cfpwd" placeholder="Confirm Password"  th:field="${newspeaker.speaker_account_password}" >
    </div>-->

    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="@{/}">Cancel</a>
  </form>

  </body>
</html>